{% extends 'base.html.twig' %}

{% block title %}Liste des tâches
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="//cdn.datatables.net/2.3.4/css/dataTables.dataTables.min.css"/>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<script src="//cdn.datatables.net/2.3.4/js/dataTables.min.js"></script>
	<script>
		$(document).ready(function () {
$('.table-auto').DataTable();
});
	</script>
{% endblock %}
{% block body %}
	<h1>Liste des tâches</h1>
    <a href="{{ path('app_task_create') }}" class="btn btn-primary mb-3">Créer une nouvelle tâche</a>

	<table class="table-auto">
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Titre</th>
				<th scope="col">Date d'échéance</th>
                <th scope="col">Catégorie</th>
                <th scope="col">Actions</th>
                <th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% if tasks is defined %}
				{% for task in tasks %}
					<tr style="background-color: {{ task.tag.name }}">
						<th>{{task.id}}</th>
						<td>{{task.name}}</td>
						<td>{{task.dueAt ? task.dueAt|date('d/m/Y') : 'Pas de date'}}</td>
                        <td>{{task.tag ? task.tag.name : 'Pas de tag'}}</td>
                        <td>
                            <a href="{{ path('app_task_update', {'id': task.id}) }}" class="btn btn-sm btn-warning">Modifier</a>
                        </td>
                        <td>
                            <a href="{{ path('app_task_delete', {'id': task.id}) }}" class="btn btn-sm btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette tâche ?');">Supprimer</a>
                        </td>
					</tr>
				{% else %}
					<tr>
						<td colspan="3">Aucune tâche trouvée.</td>
					</tr>
				{% endfor %}
			{% else %}
				<tr>
					<td colspan="3">Aucune tâche trouvée.</td>
				</tr>
			{% endif %}
		</tbody>
	</tbody>
</table>{% endblock %}
